body {
  font: 14px "Century Gothic", Futura, sans-serif;
  display: block;
  margin-top: 10%;
  margin-left: 40%;
  width: 50%;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 29px;
}

.square {
  background: #22BDFF;
  border: 4px solid #999;
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 39px;
  height: 84px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 84px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
